
.image-container{
    height: 350px;
    width: 100vw;
}

.image-container img{
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: blur(55);

}
.carousel-item {
    height: 350px;
    width: 100vw;
    background-size: cover; /* This will ensure the image covers the entire container */
    background-position: center; /* This will center the image */
    background-repeat: no-repeat; /* This prevents the image from repeating */
}