.mySwiper {
    width: 100%;
    height: 100%;
  }
  
  .slide-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px; /* Fixed height for each slide */
    overflow: hidden; /* Ensure content doesn't overflow */
  }
  
  .background-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
    z-index: 1;
  }
  
  .content-container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
    color: #fff; /* Ensures text visibility over background */
  }
  
  .content h1,
  .content p {
    margin: 0;
  }
  
  .foreground-image img {
    max-width: 100%;
    height: auto;
  }
  .foreground-image{
    height: 400px;
    width: auto;
  }
  .foreground-image img{
    object-fit: cover;
    height: 100%;
    width: 100%;
  }